/* =============
    Base
============= */

body {
    background-color: #081523;
    color: $white;
}

hr {
    border-width: 0px;
    border-radius: 10px;
    height: 3px;
    background-color: $gold;
    
}

ul{
    padding: 0;
  
    li{
        list-style: none;
    }
 }

 .show-for-md {
     display: none;
     @include md{
         display: block;
     }
 }

 .show-for-sm {
     display: block;
    @include md{
        display: none;
    }

    @include lg{
        display: none;
    }

    @include xl{
        display: none;
    }
 }
