/* =============
    Section 1
============= */

#section-1 {
    .color-overlay {
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 45%;
        position: absolute;

    }

    .img-container {
        background-image: url('../img/section-1/hero1.jpg');
        height: 432px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @include lg {
            height: 576px;
        }
    }

    .inner-container {
        text-align: center;
        position: absolute;
        width: 100%;
        color: $white;
        height: auto;
        margin-top: 150px;

        @include md {
            margin-top: 130px;
        }

        @include lg {
            margin-top: 200px;
        }
    }

    h1 {
        font-size: 30px;
        font-family: "kanit", sans-serif;

        @include md {
            font-size: 45px;
        }

        @include lg {
            font-size: 50px;
        }
    }

    a {

        color: $white;
        font-size: 1.3em;
        font-family: "kanit", sans-serif;

    }

    .btn {
        display: inline-block;

        width: 150px;
        font-weight: 700;
        margin-top: 15px;
        padding: 10px;
        border: 3px solid $white;
        border-radius: 30px;
        text-align: center;
        outline: none;
        text-decoration: none;
        transition: background-color 0.2s ease-out, color 0.2s ease-out;
    }

    .btn:hover,
    .btn:active {
        background-color: $white;
        color: $black;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
    }

    #section-1-flex-container {
        display: flex;
        justify-content: center;
        flex-direction: row;


        #section-1-circle {
            border: 2px solid $white;
            border-radius: 30px;
            margin: 50px 5px 0 5px;
            width: 10px;
            height: 10px;

            @include md {
                margin: 50px 5px 0 5px;
            }

            @include lg {
                margin: 100px 5px 0 5px;
            }
        }

        #section-2-circle {
            border: 2px solid $white;
            background-color: $white;
            border-radius: 30px;
            margin: 50px 5px 0 5px;
            width: 10px;
            height: 10px;

            @include md {
                margin: 50px 5px 0 5px;
            }

            @include lg {
                margin: 100px 5px 0 5px;
            }
        }

        #section-3-circle {
            border: 2px solid $white;
            border-radius: 30px;
            margin: 50px 5px 0 5px;
            width: 10px;
            height: 10px;

            @include md {
                margin: 50px 5px 0 5px;
            }

            @include lg {
                margin: 100px 5px 0 5px;
            }
        }
    }






}