/* =============
    Section 2
============= */

#section-2 {


    aside {
        img {
            width: 100%;
        }
    }

    hr {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 262px;

        @include md {
            width: 640px;
        }

        @include lg {
            width: 895px;
        }
    }

    h2 {
        text-align: center;
        font-size: 35px;

        @include md {
            font-size: 40px;
        }

        @include lg {
            font-size: 50px;
        }

    }

    p {
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        line-height: 40px;

        @include md {
            font-size: 20px;
        }

        @include lg {
            font-size: 20px;
        }
        
        

    }

    #section-2-container {
        display: grid;
        grid-template-columns: 20px auto 20px;
        grid-template-areas: ". section-2 .";

        @include md {
            grid-template-columns: 50px auto 50px;
        }

        @include lg {
            grid-template-columns: 100px auto 100px;
        }

        #section-2-content {
            grid-area: section-2;
        }
    }
}