/* =============
    Section 3
============= */

#section-3 {

    @include xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-3-lock .";
    }



    #section-3-lock {

        @include md {
            display: grid;
            grid-template-columns: 50% auto;
        }

        @include lg {
            grid-area: section-3-lock;
            display: grid;
            grid-template-columns: 50% auto;
        }


        aside {
            background-image: url("../img/section-3/location.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 497px;

            @include lg {
                height: 800px;
            }


        }

        #section-3-container {
            display: grid;
            grid-template-columns: 10px auto 10px;
            grid-template-areas: ". section-3 .";
            background-color: #18233E;


            #section-3-content {
                grid-area: section-3;
            }

        }

        h2 {
            font-size: 35px;
            text-align: left;
            margin: 30px 0px 30px 50px;

            @include md {
                font-size: 40px;
            }

            @include lg {
                margin: 50px 0px 80px 50px;
                font-size: 50px;
            }

        }

        ul {

            margin-right: 0;
            padding-left: 0;
            list-style: none;
        }

        ul>li {
            align-items: center;
            display: flex;
            margin: 0px 20px 30px 50px;
            font-size: 20px;
            font-weight: 600;
            line-height: 40px;

            @include md {
                margin: 0px 30px 40px 50px;


            }

            @include lg {
                margin: 0px 30px 80px 50px;
                font-size: 30px;
                line-height: 50px;

            }
        }

        ul li:before {
            content: "";
            border: 1px solid $gold;
            background-color: $gold;
            border-radius: 100%;
            width: 1px;
            height: 1px;
            color: $gold;
            display: inline-block;
            padding: 5px;
            line-height: 1.0;
            margin-right: 20px;

        }



    }
}