/* =============
   Footer
============= */
 
footer {
    color: $white;
    text-align: center;
    padding: 45px;

  
  
    #footer-content {
        
        ul {
            display: flex;
            justify-content: center;
            margin: 20px 0px 20px;
  
            li {
                margin: 0 15px;

  
                a:link,
                a:visited {
                    color: $white;
                    transition: 0.25s;
                    font-size: rem-calc(30);
                }
  
                a:hover,
                a:active {
                    color: $gold;
                }

                
            }
            @include md {
                display: flex;
                justify-content: flex-start;
                
            }
  
            @include lg {
                display: flex;
                justify-content: flex-start;
                
            }

        
        }

        h5 {
            font-size: rem-calc(12);

            @include md {
                display: flex;
                justify-content: flex-end;
            }
  
            @include lg {
                display: flex;
                justify-content: flex-end;
            }
        }
  
        
    }
 }
 