/* =============
    Navigation
============= */

#nav-container {
    ul {
        height: 80%;
        text-align: right;

        @include lg {
            display: flex;
            justify-content: space-around;
        }

        li {
            margin-bottom: 20px;

            @include lg {
                align-items: center;
                display: flex;
                margin: 0px 25px 0 0;
            }

            a:link,
            a:visited {
                color: $white;
                text-decoration: none;
                transition: 0.25s;
            }

            a:hover,
            a:active {
                color: $gold;

            }
        }
    }
}